* {
    box-sizing: border-box;
}

body {
    background: #ddd;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form {
    margin: 20px auto;
    width: 33%;
    text-align: center;
}

input {
    width: 100%;
    font-size: 2em;
}

#options li {
    display: inline-block;
    width: 33%;
    border: solid 5px #ddd;
}

.container {
    margin: 50px auto;
    width: 80%;
}

button {
    width: 100%;
    border: none;
    background: tomato;
    color: white;
    font-size: 2em;
    outline: none;
}

button:hover, button:focus {
    background: coral;
}

#gallery li {
    margin: 7px;
    float: left;
    width: 30%;
    height: 200px;
    overflow: hidden;
}

img {
    position: relative;
    float: left;
    width: auto;
    height: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
