* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #CFD8DC;
    margin: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.9em;
    border-bottom: solid black 2px;
    margin: 20px 40px;
}

header {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    padding: 100px 0;
    box-shadow: 8px 0 15px rgba(0, 0, 0, 0.5);
}

img {
    width: 100%;
}

form {
    background-color: #26A69A;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}

input {
    font-size: 1.75em;
}

button {
    font-size: 1.75em;
    background-color: #37474F;
    color: #fff;
    border-style: none;
}

ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1024px;
    text-align: center;
}

li {
    font-size: 1.5em;
    border: solid rgba(0, 0, 0, 0.6) 2px;
    border-radius: 4px;
    padding: 20px 10px;
    margin: 10px;
    display: block;
    float: left;
    width: 23%;
    background-color: #ECEFF1;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
}

.responded {
    border: solid rgba(0, 121, 107, 0.6) 2px;
    background-color: #CFD8DC;
}

.delete {
    background-color: #BF360C;
    padding: 3px 5px;
    font-size: 0.6em;
}

.save {
    background-color: #26A69A;
    font-size: 0.6em;
    padding: 3px 5px;
    margin-left: 5px;
}

.edit {
    background-color: #26A69A;
    font-size: 0.6em;
    padding: 3px 5px;
    margin-left: 5px;
}

.editInput {
    font-size: .9em;
    width: 100%;
}

label {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    display: block;
    font-size: 0.6em;
}

#responded {
    display: inline-block;
    font-size: .9em;
}
